* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
    background: #ffffff;
}
.header {
    width: 100%;
    padding: 32px 40px;
    background: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo {
    font-size: 60px;
    font-weight: bold;
    letter-spacing: 3px;
    color: #ff5c20;
}
.menu {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 50px;              
}
.menu li a {
    text-decoration: none;
    font-size: 18px;
    color: black;
    font-weight: 700;
    padding: 8px 0;
    display: block;
    transition: 0.2s;
    color: #ff4d00;
}
.dropdown {
    position: relative;
}
.dropdown-list {
    position: absolute;
    top: 45px;
    left: 0;
    min-width: 160px;
    background: white;                     
    list-style: none;
    padding: 10px 0;
    border-radius: 6px;                   
    box-shadow: 0 3px 15px rgba(0,0,0,0.15); 
    
    opacity: 0;
    visibility: hidden;
    transform: translateY(10px);           
    transition: 0.25s ease;
    z-index: 999;
}
.dropdown:hover .dropdown-list {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}
.dropdown-list li a {
    padding: 10px 20px;
    font-size: 17px;
    color: black;
}
.dropdown-list li a:hover {
    background: #f7f7f7;
    color: #ff4d00;
}
.slider {
    position: relative;
}
.banner {
    width: 100%;
    height:100%;
    object-fit: cover;
    display: block;
}
.label {
    position: absolute;
    top: 250px;
    left: 340px;
    background: white;
    padding: 20px 18px;
    border-radius: 6px;
    font-size: 25px;
}
.label span {
    font-style: italic;
    color: #d75d3d;
}
.title {
    position: absolute;
    top: 320px;
    left: 340px;
    color: white;
    font-size: 80px;
    font-weight: bold;
    line-height: 1.1;
}
