* {
    font-family: sans-serif;
}

header {
    padding: 0 100px;
}

/* MENU NẰM NGANG */
.menu {
    padding: 0;
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* LOGO */
.logo {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: xxx-large;
    font-weight: 600;
    margin-right: 300px;
    color: rgb(239, 66, 35);
}

/* HÌNH BANNER */
.banner {
    width: 100%;
}

/* ======================= */
/*        SLIDER           */
/* ======================= */
.slider {
    position: relative;
}

/* Nhãn Toronto – Canada */
.label {
    position: absolute;
    top: 35%;
    left: 20%;
    background: white;
    padding: 20px 35px;
    border-radius: 6px;
    font-size: 20px;
    /* font-weight: bold; */
}

.label span {
    color: rgb(239, 66, 35);
    font-style: italic;
}

/* Tiêu đề lớn overlay */
.title {
    position: absolute;
    top: 60%;
    left: 20%;
    transform: translateY(-50%);
    font-size: 80px;
    font-weight: 700;
    color: white;
    line-height: 70px;
}

/* ======================= */
/*       DROPDOWN          */
/* ======================= */
.dropdown {
    position: relative;
}

.dropdown-list {
    position: absolute;
    top: 40px;
    left: 0;

    list-style: none;
    padding: 10px 0;
    margin: 0;

    width: 160px;
    background: white;
    border-radius: 6px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.2);

    opacity: 0;
    pointer-events: none;
    transform: translateY(10px);
    transition: 0.25s;
}

.dropdown-list li a {
    display: block;
    padding: 10px 15px;
    text-decoration: none;
    color: black;
}

.dropdown:hover .dropdown-list {
    opacity: 1;
    pointer-events: auto;
    transform: translateY(0);
}

.dropdown-list li a:hover {
    background: rgb(245, 245, 245);
}
